*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Tahoma;
}

body{

background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
url("../images/kurumi.jpg");

background-size:cover;

background-position:center;

background-attachment:fixed;

color:white;

}

nav{

background:#7a0000;

padding:20px;

text-align:center;

}

nav a{

color:white;

text-decoration:none;

margin:20px;

font-size:20px;

font-weight:bold;

}

nav a:hover{

color:red;

}

.container{

width:80%;

margin:auto;

margin-top:50px;

background:rgba(0,0,0,.55);

padding:40px;

border-radius:20px;

box-shadow:0 0 25px red;

}

h1{

color:#ff3030;

margin-bottom:20px;

}

p,li{

font-size:20px;

line-height:40px;

}

img{

border-radius:50%;

border:5px solid red;

margin-bottom:20px;

}
